@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --dark: #191B1F;
    --dandelion: #FFC62D;
    --white: #F5F5F5;
}

*, *::before, ::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100vw;
    min-height: 100vh;
    padding: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)
    ), url(https://cdn.discordapp.com/attachments/1041626172871684158/1041627277693304933/water_trees_games_forest_nature_drawings_widescreen_3840x2160.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
}

main {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.weather-info {
    max-width: 55%;
}

.weather-info-description {
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1;
}